<!doctype html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header class="sticky-top">
    <%- include("../partials/header.ejs") %>
    </header>
    
    <main class="container">
      <div class="box text-light "">
        <p>
          <a href="<%- bookmark.url %>" class="text-light"><%- bookmark.url %></a>
        </p>
        <p>
          <%- bookmark.description %>
        </p>                                   
        <div class="buttonBox">          
          <form method='get' action='/editBookmark<%= bookmark.id %>'>
          <input type="submit" class='btn bg-secondary text-light button' value='Edit'>
          </form> 
                              
          <form method='post' action='/deleteBookmark/<%= bookmark.id %>'>
          <input type="submit" class='btn btn-danger button' value='Delete'>
          </form>
        </div>       
                                                                           
                                                                       
      </div>
    </main>
    <footer>
      <%- include("../partials/footer.ejs") %>
    </footer>  
  </body>
</html>