<!doctype html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header class="sticky-top">
    <%- include("../partials/header.ejs") %>
    </header>
    <main class="container" >
      <%- console.log(expressFlash)-%>
      <%- console.log(flashFailure)-%>
      
      <% if ( expressFlash.length > 0 ) { %>
        <div class="alert alert-success" role="alert">
          <p>
            <%= expressFlash %>
          </p>
        </div>

      <% } %>
      
      <% if ( flashFailure.length > 0 ) { %>
        <div class="alert alert-danger" role="alert">
          <p>
            <%= flashFailure %>
          </p>
        </div>

      <% } %>
      
      
      
    <div>
       <% bookmarks.forEach((bookmarks) => {
      %> 
      <a href="Bookmark/<%= bookmarks._id %>" class="bg-secondary text-light">  
        <div class="text-light bookmarkbox ">
          <%= bookmarks.url %>    
        </div> 
      </a>
        
        <%
        }) %>   
    </div>
    </main>
    <footer>
      <%- include("../partials/footer.ejs") %>
    </footer>  
  </body>
</html>